body {
  background-color: #edfdfc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #22ddad ;
  text-align: center;
}
p {
  margin: 20px 0;
  padding: 15px;
  line-height: 1.8;
}


ul {
  list-style-type: circle; 
  color: #333; 
  padding-left: 25px;
  margit: 20% 20%
  color: #4d5d41;
}


a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}


img {
  margin: 20px auto; 
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


